<div class="dictionary">
  <div class="search">
    <htt-toolbar (back)="backToMainMenu()">
      <input type="text" placeholder="Filter" #filter [(ngModel)]="searchTag" (ngModelChange)="search()">
      <div class="clear" (click)="clear()">
        <svg-icon src="./assets/images/close.svg" [class]="'clear-icon'"></svg-icon>
      </div>
    </htt-toolbar>
  </div>
  <div class="tags" [httNotFound]="!tagNames.length">
    <div class="tag"
         [class.selected]="tagName === selectedTag"
         *ngFor="let tagName of tagNames"
         (click)="selectTag(tagName)">
      {{ tagName }}
    </div>
  </div>
  <div class="description"><span>{{ selectedTag }}</span>{{ description ? ' — ' : '' }}{{ description }}</div>
</div>
