@import "../../../shared/styles/mixins";
@import "../../../shared/styles/colors";

.dictionary {
  @include flex-gap__medium;
  display: flex;
  flex-direction: column;

  & htt-search {
    width: 100%;
  }
}
