@import "../../../shared/styles/mixins";

.menu {
  @include flex-gap__medium;
  display: flex;
  flex-direction: column;
  width: 300px;

  & .item {
    @include default-border;

    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    & .icon {
      @include flex-center;
      @include default-border;

      border-width: 0 2px 0 0;

      & .svg {
        display: block;
        padding: 4px;

        & svg {
          display: block;
        }
      }
    }

    & .text {
      @include flex-center;

      width: 100%;
      padding: 0 8px;
    }

    &:hover {
      cursor: pointer;
      user-select: none;
      border-color: $crayola;
      color: $crayola;

      & .icon {
        border-color: $crayola;

        & .svg {
          & g {
            fill: $crayola;
          }
        }
      }
    }
  }
}
