@import "src/app/shared/styles/mixins";

.scoreboard {
  @include default-border;
  @include padding__medium;

  width: 435px;
  box-sizing: border-box;

  & .correct {
    color: lightgreen;
  }

  & .incorrect {
    color: red;
  }

  & .skipped {
    color: mediumturquoise;
  }
}
