@import "src/app/shared/styles/mixins";

.scoreboard {
  @include default-border;

  width: 435px;
  box-sizing: border-box;
  padding: 8px;

  & .correct {
    color: lightgreen;
  }

  & .incorrect {
    color: red;
  }

  & .delimiter {
    border-left: 2px solid white;
    width: 0;
    height: 50px;
  }
}
