<div class="test">
  <htt-toolbar [showStatisticsBtn]="true" [resetTestBtn]="true" (back)="backToMainMenu()"></htt-toolbar>
  <htt-scoreboard *ngIf="showStatistics"></htt-scoreboard>
  <div class="card">
    <div class="description">
      {{ tags[questionOrder[questionNumber]].question.ru }}
    </div>
    <div class="answer">
      <input type="text"
             #input
             [(ngModel)]="answerInput"
             (keyup.enter)="answer(answerInput)"
             placeholder="Write answer">
      <button (click)="answer(answerInput)" [disabled]="!answerInput">Answer</button>
      <htt-icon-btn src="../../../../assets/images/skip.svg" (click)="skipQuestion()"></htt-icon-btn>
    </div>
  </div>
</div>
