<div class="test">
  <htt-toolbar [showStatisticsBtn]="true" [resetTestBtn]="true" (back)="backToMainMenu()"></htt-toolbar>
  <htt-scoreboard *ngIf="showStatistics"></htt-scoreboard>
  <div class="card">
    <div class="description">
      {{ tags[questionOrder[questionNumber]].question.ru }}
    </div>
    <div class="answer">
      <htt-test-input [(value)]="answerInput" (keyupEnter)="answer(answerInput)" placeholder="input.write-answer"></htt-test-input>
      <button (click)="answer(answerInput)" [disabled]="!answerInput">{{ 'btn.answer' | translate }}</button>
      <htt-icon-btn src="./assets/images/skip.svg" (click)="skipQuestion()"></htt-icon-btn>
    </div>
  </div>
</div>
