<div class="languages">
  <div class="toolbar">
    <htt-icon-btn src="./assets/images/close.svg" [hover]="true" (click)="runClose()"></htt-icon-btn>
  </div>
  <div class="language"
       *ngFor="let language of languages"
       (click)="changeLanguage(language)"
       [class.selected]="language === currentLanguage"
  >
    <div class="flag">
      <img [ngSrc]="'./assets/images/' + language + '.svg'" width="24" height="24" alt="">
    </div>
    {{ 'language.' + language | translate }}
  </div>
</div>
