<div class="test-input">
  <div class="input-wrapper" [class.empty]="!value">
    <input type="text"
           #input
           [(ngModel)]="value"
           [maxlength]="maxInputLength"
           (ngModelChange)="emitValue($event)"
           (keyup.enter)="emitKeyupEnter()"
           [placeholder]="placeholder | translate">
    <span class="left-bracket" *ngIf="value"><</span>
    <span class="right-bracket" *ngIf="value">></span>
    <span class="content">{{ value }}</span>
  </div>
</div>
