@import "src/app/shared/styles/colors";
@import "src/app/shared/styles/mixins";

body {
  @include fullscreen;

  background-color: $black;
  margin: 0;
}

body, button, span, input {
  font-family: monospace;
  color: white;
}

input, button {
  @include btn-cursor;
  @include default-background;

  &:focus, &:focus-visible {
    outline: none;
  }
}

input[type="text"] {
  @include default-border;

  width: 100%;
  padding: 0 4px;
}

.description {
  @include dashed-border;

  width: 435px;
  height: 125px;
  padding: 16px;
  box-sizing: border-box;

  & span {
    color: $crayola;
  }
}
