@import "src/app/shared/styles/colors";
@import "src/app/shared/styles/mixins";

body {
  @include fullscreen;

  background-color: $black;
  margin: 0;
}

body, button, span, input {
  font-family: monospace;
  color: white;
}

input, button {
  @include btn-cursor;
  @include default-background;

  &:focus, &:focus-visible {
    outline: none;
  }
}
