@import "src/app/shared/styles/mixins";

.wrapper {
  @include flex-center;
  @include default-background;
  @include fullscreen;

  position: absolute;
  top: 0;

  & .dialog {
    @include default-border;
    @include padding__large;
    @include flex-gap;

    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    & .answer {
      @include flex-center;

      flex: 1;
      text-align: center;
      white-space: pre-line;
    }

    & .btn-wrapper {
      display: flex;
      justify-content: space-around;

      & button {
        @include default-border;
        @include padding__small;

        width: 100px;
      }
    }
  }
}
