@import "../../../shared/styles/mixins";
@import "../../../shared/styles/colors";

.result {
  @include flex-gap;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .toolbar {
    width: 100%;
  }

  & .statistics {
    @include flex-center;

    gap: 8px;

    & .right-answers, & .wrong-answers, & .skipped-answers, & .total-questions {
      @include default-border;
      @include padding__medium;

      cursor: pointer;
      user-select: none;

      & .count {
        text-align: center;
      }

      & .label {
        text-align: center;
      }

      &:hover {
        border-color: $crayola;
      }
    }

    & .right-answers {
      & .count {
        color: lightgreen;
      }
    }

    & .wrong-answers {
      & .count {
        color: coral;
      }
    }

    & .skipped-answers {
      & .count {
        color: mediumturquoise;
      }
    }

    & .selected {
      border-color: $crayola;
    }
  }

  & .answers {
    @include flex-gap;
    border: 2px solid white;
    width: 435px;
    overflow: auto;
    height: 400px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    & .answer {
      @include default-border;
      @include padding__medium;

      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;

      & .question, & .user-answer, & .true-answer {
        @include padding__medium;

        background-color: #333333;
      }

      & .indicator {
        @include flex-center;
        @include default-border;

        width: 24px;
        height: 24px;
        border-width: 0 0 2px 2px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $black;

        & svg-icon {
          width: 16px;
          height: 16px;

          & svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    & .right-answer {
      border-color: green;

      & .icon-btn {
        border-color: green;

        & svg g {
          fill: green;
        }
      }
    }

    & .wrong-answer {
      border-color: red;

      & .icon-btn {
        border-color: red;

        & svg g {
          fill: red;
        }
      }
    }

    & .skipped-answer {
      border-color: mediumturquoise;

      & .icon-btn {
        border-color: mediumturquoise;

        & svg g {
          fill: mediumturquoise;
        }
      }
    }
  }
}
